* text=auto

*.c text eol=lf
*.h text eol=lf
*.s text eol=lf
*.ioc text eol=lf
*.mxproject text eol=lf
*.uvprojx text eol=lf
*.uvoptx text eol=lf
*.scvd text eol=lf
*.dbgconf text eol=lf
*.md text eol=lf
